<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Email Template</title>
</head>

<body
    style="margin:0;padding:0;background-color:#fafafa;font-family:Figtree,-apple-system,system-ui;color:#0a0a0a;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%">
    <div style="background-color:#fafafa;font-family:Figtree,-apple-system,system-ui,sans-serif;color:#0a0a0a">
        <div
            style="margin-left:auto;margin-right:auto;box-sizing:border-box;width:704px;background-color:#fafafa;padding-top:24px;padding-bottom:24px">
            <div
                style="width:640px;border-bottom-width:1px;border-left-width:0px;border-right-width:0px;border-top-width:0px;border-style:solid;border-color:#0000000f;background-color:rgb(255,255,255);padding-left:32px;padding-right:32px;padding-top:1.5rem;padding-bottom:1.5rem;font-size:0">
                <table style="width:100%;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border:none;padding:0;white-space:nowrap"><img alt=""
                                    src="https://cdnwukong.com/images/email/tmp_logo.png"
                                    style="display:inline-block;height:36px;width:111px;max-width:971px;vertical-align:middle;outline:none;border:none;text-decoration:none" />
                            </td>
                            <td style="border:none;padding:0;text-align:right;white-space:nowrap">
                                <div style="display:inline-block;line-height:36px"><a
                                        href="https://www.wukongsch.com/en/chinese/"
                                        th:href="https://www.wukongsch.com/en/chinese/"
                                        style="display:inline-block;vertical-align:middle;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:0.875rem;line-height:36px;font-weight:400;color:rgb(10,10,10);text-decoration-line:none;margin-right:2rem;text-decoration:none"
                                        target="_blank"><span style="color:rgb(10,10,10)">Chinese</span></a><a
                                        href="https://www.wukongsch.com/en/math/"
                                        th:href="https://www.wukongsch.com/en/math/"
                                        style="display:inline-block;vertical-align:middle;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:0.875rem;line-height:36px;font-weight:400;color:rgb(10,10,10);text-decoration-line:none;margin-right:2rem;text-decoration:none"
                                        target="_blank"><span style="color:rgb(10,10,10)">Mathematics</span></a><a
                                        href="https://www.wukongsch.com/en/english/"
                                        th:href="https://www.wukongsch.com/en/english/"
                                        style="display:inline-block;vertical-align:middle;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:0.875rem;line-height:36px;font-weight:400;color:rgb(10,10,10);text-decoration-line:none;text-decoration:none"
                                        target="_blank"><span style="color:rgb(10,10,10)">English (ELA)</span></a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding:28px 40px 34px;background-color:#fff">
                邮件正文
            </div>
            <div
                style="width:640px;background-color:rgb(250,247,242);padding:32px">
                <div style="border-radius:1.5rem;text-align:center;padding:1.5rem;background-color:rgb(255,255,255)">
                    <img alt="Cognia Logo" src="https://cdnwukong.com/images/email/cognia-logo.png"
                        style="width:10rem;margin-bottom:1rem;max-width:971px;display:inline-block;outline:none;border:none;text-decoration:none" />
                    <p style="color:rgb(10,10,10);font-size:1rem;line-height:26px;font-weight:400;margin:0">WuKong
                        Education has officially received accreditation from Cognia®<br />with a superb rating
                        of<!-- --> <span style="font-size:1.125rem;line-height:1.75rem;font-weight:900">395/400 !</span>
                    </p>
                </div>
                <table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0"
                    style="margin:1rem auto 0;border-collapse:collapse">
                    <tr>
                        <td align="right" valign="middle"
                            style="padding:0;color:#0a0a0a;font-size:14px;font-weight:500;line-height:20px;white-space:nowrap">
                            <a href="https://www.trustpilot.com/review/wukongsch.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1"
                                style="color:#0a0a0a;text-decoration:none" target="_blank">TrustScore</a>
                        </td>
                        <td align="center" valign="middle" style="padding:0 8px">
                            <a href="https://www.trustpilot.com/review/wukongsch.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1"
                                style="display:block;height:20px;text-decoration:none" target="_blank"><img
                                    alt="Trustpilot Stars"
                                    src="https://emailsignature.trustpilot.com/newsletter/en-US/1/60c847b7f033d300019ff3a1/stars@2x.png"
                                    width="100" height="20"
                                    style="display:block;width:100px;height:20px;outline:0;border:none;text-decoration:none" /></a>
                        </td>
                        <td align="left" valign="middle"
                            style="padding:0;color:#0a0a0a;font-size:14px;font-weight:500;line-height:20px;white-space:nowrap">
                            <a th:text="${trustpilot_score}"
                                href="https://www.trustpilot.com/review/wukongsch.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1"
                                style="color:#0a0a0a;text-decoration:none" target="_blank">${trustpilot_score}</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:640px;background-color:rgb(255,255,255);padding:32px;text-align:center">
                <div class="text-0" style="text-align:center"><a href="https://www.facebook.com/wukongedu/"
                        th:href="@{https://www.facebook.com/wukongedu/}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="Facebook" src="https://cdnwukong.com/images/email/tmp_new_FB.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://www.youtube.com/@Wukongedu" th:href="@{https://www.youtube.com/@Wukongedu}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="YouTube" src="https://cdnwukong.com/images/email/tmp_new_youtube.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://www.instagram.com/wukongchinese/"
                        th:href="@{https://www.instagram.com/wukongchinese/}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="Instagram" src="https://cdnwukong.com/images/email/tmp_new_IG.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://www.linkedin.com/company/wukong-education"
                        th:href="@{https://www.linkedin.com/company/wukong-education}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="LinkedIn"
                            src="https://cdnwukong.com/images/email/tmp_new_linkedIn.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://www.xiaohongshu.com/user/profile/5c23fc910000000005015d94"
                        th:href="@{https://www.xiaohongshu.com/user/profile/5c23fc910000000005015d94}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="Xiaohongshu"
                            src="https://cdnwukong.com/images/email/tmp_new_xiaohongshu.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://weibo.com/kiwipedia123?refer_flag=1005055013_"
                        th:href="@{https://weibo.com/kiwipedia123?refer_flag=1005055013_}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="Weibo" src="https://cdnwukong.com/images/email/tmp_new_weibo.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://mp.weixin.qq.com/s/JIPsZoM8z8N8wGESy1gwyg"
                        th:href="@{https://mp.weixin.qq.com/s/JIPsZoM8z8N8wGESy1gwyg}"
                        style="display:inline-block;margin-left:0.5rem;margin-right:0.5rem;margin-top:1rem;color:#067df7;text-decoration:none"
                        target="_blank"><img alt="WeChat" src="https://cdnwukong.com/images/email/tmp_new_wechat.png"
                            style="width:2rem;height:2rem;max-width:971px;display:block;outline:none;border:none;text-decoration:none" /></a>
                </div>
                <div
                    style="color:rgb(153,153,153);margin-top:2rem;text-align:center;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:12px;line-height:22px;font-weight:400">
                    We value sharing insights and updates with you. We tailor this info just for your child's growth at
                    WuKong.</div>
                <div
                    style="color:rgb(153,153,153);margin-top:0.5rem;text-align:center;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:12px;line-height:22px;font-weight:400">
                    Our website: <a href="https://www.wukongsch.com/en" th:href="https://www.wukongsch.com/en"
                        style="color:rgb(153,153,153);text-decoration-line:none;text-decoration:none"
                        target="_blank">www.wukongsch.com</a></div>
                <div style="text-align:center;margin-top:2rem"><a
                        href="https://apps.apple.com/us/app/wukong-chinese-math-ela/id1574837622"
                        style="color:#067df7;text-decoration:none" target="_blank"><img alt="App Store"
                            src="https://cdnwukong.com/images/email/tmp_app_store.png"
                            style="width:150px;height:50px;max-width:971px;margin-left:0.5rem;margin-right:0.5rem;display:inline-block;outline:none;border:none;text-decoration:none" /></a><a
                        href="https://play.google.com/store/apps/details?id=com.wukongacademy.studentportal"
                        style="color:#067df7;text-decoration:none" target="_blank"><img alt="Google Play"
                            src="https://cdnwukong.com/images/email/tmp_google_play.png"
                            style="width:150px;height:50px;max-width:971px;margin-left:0.5rem;margin-right:0.5rem;display:inline-block;outline:none;border:none;text-decoration:none" /></a>
                </div>
                <div
                    style="color:rgb(153,153,153);text-align:center;font-family:Figtree, -apple-system, system-ui, sans-serif;font-size:0.75rem;line-height:1.5;font-weight:400;margin-top:1rem">
                    © 2026 WuKong Education, 340 E Middlefield Rd, Mountain View, CA 94043</div>
            </div>
        </div>
    </div>
</body>

</html>
